azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "2.1.0.0",
  "metadata": {
    "title": "XposedOrNot Data Connector",
    "description": "Ingests breach data from XposedOrNot API into Microsoft Sentinel",
    "version": "2.1.0",
    "author": "XposedOrNot"
  },
  "parameters": {
    "workspaceName": {
      "type": "string",
      "metadata": { "description": "Log Analytics workspace name" }
    },
    "workspaceResourceGroup": {
      "type": "string",
      "metadata": { "description": "Resource group of Log Analytics workspace" }
    },
    "xonApiKey": {
      "type": "securestring",
      "metadata": { "description": "XposedOrNot API Key from plus.xposedornot.com" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "uniqueSuffix": "[uniqueString(resourceGroup().id)]",
    "storageAccountName": "[concat('xonstate', variables('uniqueSuffix'))]",
    "keyVaultName": "[concat('kvxon', take(variables('uniqueSuffix'), 8), 'v2')]",
    "dcrName": "[concat('xon-dcr-', variables('uniqueSuffix'))]",
    "dceName": "[concat('xon-dce-', variables('uniqueSuffix'))]",
    "logicAppName": "[concat('XposedOrNot-DataConnector-', variables('uniqueSuffix'))]",
    "blobConnectionName": "[concat('azureblob-', variables('uniqueSuffix'))]",
    "kvConnectionName": "[concat('keyvault-', variables('uniqueSuffix'))]",
    "workspaceId": "[resourceId(parameters('workspaceResourceGroup'), 'Microsoft.OperationalInsights/workspaces', parameters('workspaceName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Storage/storageAccounts",
      "apiVersion": "2023-01-01",
      "name": "[variables('storageAccountName')]",
      "location": "[parameters('location')]",
      "sku": { "name": "Standard_LRS" },
      "kind": "StorageV2",
      "properties": {
        "minimumTlsVersion": "TLS1_2",
        "allowBlobPublicAccess": false
      }
    },
    {
      "type": "Microsoft.Storage/storageAccounts/blobServices/containers",
      "apiVersion": "2023-01-01",
      "name": "[concat(variables('storageAccountName'), '/default/xonstate')]",
      "dependsOn": ["[variables('storageAccountName')]"]
    },
    {
      "type": "Microsoft.KeyVault/vaults",
      "apiVersion": "2023-07-01",
      "name": "[variables('keyVaultName')]",
      "location": "[parameters('location')]",
      "properties": {
        "sku": { "family": "A", "name": "standard" },
        "tenantId": "[subscription().tenantId]",
        "enableRbacAuthorization": false,
        "accessPolicies": []
      }
    },
    {
      "type": "Microsoft.KeyVault/vaults/secrets",
      "apiVersion": "2023-07-01",
      "name": "[concat(variables('keyVaultName'), '/xposedornot-api-key')]",
      "dependsOn": ["[variables('keyVaultName')]"],
      "properties": {
        "value": "[parameters('xonApiKey')]"
      }
    },
    {
      "type": "Microsoft.Insights/dataCollectionEndpoints",
      "apiVersion": "2022-06-01",
      "name": "[variables('dceName')]",
      "location": "[parameters('location')]",
      "properties": {
        "networkAcls": { "publicNetworkAccess": "Enabled" }
      }
    },
    {
      "type": "Microsoft.Insights/dataCollectionRules",
      "apiVersion": "2022-06-01",
      "name": "[variables('dcrName')]",
      "location": "[parameters('location')]",
      "dependsOn": ["[variables('dceName')]"],
      "properties": {
        "dataCollectionEndpointId": "[resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('dceName'))]",
        "streamDeclarations": {
          "Custom-XonBreachDetails_CL": {
            "columns": [
              { "name": "TimeGenerated", "type": "datetime" },
              { "name": "Email", "type": "string" },
              { "name": "EmailDomain", "type": "string" },
              { "name": "Domain", "type": "string" },
              { "name": "BreachName", "type": "string" },
              { "name": "BreachedDate", "type": "datetime" },
              { "name": "PasswordRisk", "type": "string" },
              { "name": "ExposedDataTypes", "type": "string" },
              { "name": "ExposedRecords", "type": "real" },
              { "name": "BreachDescription", "type": "string" },
              { "name": "BreachLogo", "type": "string" },
              { "name": "IsSearchable", "type": "boolean" },
              { "name": "SnapshotId", "type": "string" }
            ]
          }
        },
        "destinations": {
          "logAnalytics": [
            {
              "workspaceResourceId": "[variables('workspaceId')]",
              "name": "sentinel-workspace"
            }
          ]
        },
        "dataFlows": [
          {
            "streams": ["Custom-XonBreachDetails_CL"],
            "destinations": ["sentinel-workspace"],
            "transformKql": "source",
            "outputStream": "Custom-XonBreachDetails_CL"
          }
        ]
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('blobConnectionName')]",
      "location": "[parameters('location')]",
      "dependsOn": ["[variables('storageAccountName')]"],
      "properties": {
        "displayName": "XON State Storage",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureblob')]"
        },
        "parameterValues": {
          "accountName": "[variables('storageAccountName')]",
          "accessKey": "[listKeys(resourceId('Microsoft.Storage/storageAccounts', variables('storageAccountName')), '2023-01-01').keys[0].value]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('kvConnectionName')]",
      "location": "[parameters('location')]",
      "dependsOn": ["[variables('keyVaultName')]"],
      "properties": {
        "displayName": "XON KeyVault",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'keyvault')]"
        },
        "parameterValueType": "Alternative",
        "alternativeParameterValues": {
          "vaultName": "[variables('keyVaultName')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('blobConnectionName')]",
        "[variables('kvConnectionName')]",
        "[variables('dcrName')]",
        "[variables('dceName')]"
      ],
      "identity": { "type": "SystemAssigned" },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "type": "Object" },
            "DataCollectionEndpoint": { "type": "String" },
            "DataCollectionRuleId": { "type": "String" }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": { "frequency": "Hour", "interval": 12 }
            }
          },
          "actions": {
            "Initialize_SnapshotId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [{ "name": "SnapshotId", "type": "string", "value": "@{guid()}" }]
              },
              "runAfter": {}
            },
            "Initialize_BatchIndex": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [{ "name": "BatchIndex", "type": "integer", "value": 0 }]
              },
              "runAfter": { "Initialize_SnapshotId": ["Succeeded"] }
            },
            "Initialize_TotalProcessed": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [{ "name": "TotalProcessed", "type": "integer", "value": 0 }]
              },
              "runAfter": { "Initialize_BatchIndex": ["Succeeded"] }
            },
            "Get_API_Key_from_KeyVault": {
              "type": "ApiConnection",
              "inputs": {
                "host": { "connection": { "name": "@parameters('$connections')['keyvault']['connectionId']" } },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('xposedornot-api-key')}/value"
              },
              "runAfter": { "Initialize_TotalProcessed": ["Succeeded"] },
              "runtimeConfiguration": { "secureData": { "properties": ["outputs"] } }
            },
            "Call_XposedOrNot_API": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api.xposedornot.com/v1/domain-breaches/",
                "headers": {
                  "Content-Type": "application/json",
                  "User-Agent": "MicrosoftSentinel-XposedOrNot/2.1",
                  "x-api-key": "@body('Get_API_Key_from_KeyVault')?['value']"
                },
                "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT30S" }
              },
              "runAfter": { "Get_API_Key_from_KeyVault": ["Succeeded"] },
              "runtimeConfiguration": { "secureData": { "properties": ["inputs"] } }
            },
            "Get_All_Records": {
              "type": "Compose",
              "inputs": "@coalesce(body('Call_XposedOrNot_API')?['metrics']?['Breaches_Details'], json('[]'))",
              "runAfter": { "Call_XposedOrNot_API": ["Succeeded"] }
            },
            "Get_Breach_Info_Map": {
              "type": "Compose",
              "inputs": "@coalesce(body('Call_XposedOrNot_API')?['metrics']?['Detailed_Breach_Info'], json('{}'))",
              "runAfter": { "Get_All_Records": ["Succeeded"] }
            },
            "Process_All_Records_In_Batches": {
              "type": "Until",
              "expression": "@greaterOrEquals(variables('BatchIndex'), length(outputs('Get_All_Records')))",
              "limit": { "count": 100, "timeout": "PT1H" },
              "actions": {
                "Get_Current_Batch": {
                  "type": "Compose",
                  "inputs": "@take(skip(outputs('Get_All_Records'), variables('BatchIndex')), 500)",
                  "runAfter": {}
                },
                "Build_Batch_Records": {
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Get_Current_Batch')",
                    "select": {
                      "TimeGenerated": "@utcNow()",
                      "Email": "@item()?['email']",
                      "EmailDomain": "@last(split(coalesce(item()?['email'], '@'), '@'))",
                      "Domain": "@item()?['domain']",
                      "BreachName": "@item()?['breach']",
                      "BreachedDate": "@coalesce(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['breached_date'], '')",
                      "PasswordRisk": "@coalesce(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['password_risk'], 'unknown')",
                      "ExposedDataTypes": "@coalesce(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['xposed_data'], '')",
                      "ExposedRecords": "@coalesce(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['xposed_records'], 0)",
                      "BreachDescription": "@coalesce(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['xposure_desc'], '')",
                      "BreachLogo": "@coalesce(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['logo'], '')",
                      "IsSearchable": "@if(equals(outputs('Get_Breach_Info_Map')?[item()?['breach']]?['searchable'], 'Yes'), true, false)",
                      "SnapshotId": "@variables('SnapshotId')"
                    }
                  },
                  "runAfter": { "Get_Current_Batch": ["Succeeded"] }
                },
                "Send_Batch_to_DCR": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{parameters('DataCollectionEndpoint')}/dataCollectionRules/@{parameters('DataCollectionRuleId')}/streams/Custom-XonBreachDetails_CL?api-version=2023-01-01",
                    "headers": { "Content-Type": "application/json" },
                    "body": "@body('Build_Batch_Records')",
                    "authentication": { "type": "ManagedServiceIdentity", "audience": "https://monitor.azure.com" }
                  },
                  "runAfter": { "Build_Batch_Records": ["Succeeded"] }
                },
                "Increment_BatchIndex": {
                  "type": "IncrementVariable",
                  "inputs": { "name": "BatchIndex", "value": 500 },
                  "runAfter": { "Send_Batch_to_DCR": ["Succeeded"] }
                },
                "Compute_Batch_Size": {
                  "type": "Compose",
                  "inputs": "@length(outputs('Get_Current_Batch'))",
                  "runAfter": { "Increment_BatchIndex": ["Succeeded"] }
                },
                "Increment_TotalProcessed": {
                  "type": "IncrementVariable",
                  "inputs": { "name": "TotalProcessed", "value": "@outputs('Compute_Batch_Size')" },
                  "runAfter": { "Compute_Batch_Size": ["Succeeded"] }
                }
              },
              "runAfter": { "Get_Breach_Info_Map": ["Succeeded"] }
            },
            "Log_Completion": {
              "type": "Compose",
              "inputs": {
                "status": "completed",
                "snapshotId": "@variables('SnapshotId')",
                "totalRecords": "@length(outputs('Get_All_Records'))",
                "totalProcessed": "@variables('TotalProcessed')",
                "completedAt": "@utcNow()"
              },
              "runAfter": { "Process_All_Records_In_Batches": ["Succeeded"] }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azureblob": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('blobConnectionName'))]",
                "connectionName": "[variables('blobConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureblob')]"
              },
              "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('kvConnectionName'))]",
                "connectionName": "[variables('kvConnectionName')]",
                "connectionProperties": { "authentication": { "type": "ManagedServiceIdentity" } },
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'keyvault')]"
              }
            }
          },
          "DataCollectionEndpoint": {
            "value": "[reference(resourceId('Microsoft.Insights/dataCollectionEndpoints', variables('dceName')), '2022-06-01').logsIngestion.endpoint]"
          },
          "DataCollectionRuleId": {
            "value": "[reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('dcrName')), '2022-06-01').immutableId]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": { "type": "string", "value": "[variables('logicAppName')]" },
    "storageAccountName": { "type": "string", "value": "[variables('storageAccountName')]" },
    "keyVaultName": { "type": "string", "value": "[variables('keyVaultName')]" },
    "dcrId": { "type": "string", "value": "[resourceId('Microsoft.Insights/dataCollectionRules', variables('dcrName'))]" }
  }
}
